{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .display-4 {
        text-align: center;
    }
    .lead-p {
        text-align: center;
    }
    .current-user {
        color: white;
    }
    .card {
        margin: 10px;
    }
</style>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
        <img src="{% static '../static/img/logo.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Supercar Dealership
        </a>
        

        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <h4 class = "current-user">Welcome {{nama_identitas}} from {{kelas_identitas}}</h4>
        </li>
        <li class="nav-item">
            <a href="{% url 'main:create_product' %}">
                <button type="button" class="btn btn-success">
                    Add New Car
                </button>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'main:logout' %}">
                <button type="button" class="btn btn-info">
                    Logout
                </button>
            </a>
        </li>
        </ul>
    </nav>

    <div class="jumbotron">
        <br>
        <h1 class="display-4">"The Art of Performance"</h1>
        <p class="lead-p">Discover the artistry in every curve, the raw horsepower in every engine, and the elegance in every design, all in one place.</p>
        <hr class="my-4">
    </div>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
    <div class="row">
        {% for p in product %}
            <div class="card" style="width: 18rem;">
                {% comment %} <img class="card-img-top" src="{{ p.car_image.url }}.jpg" alt="{{p.name}}"> {% endcomment %}
                    <div class="card-body">
                    <h4 class="card-title">{{p.name}}</h4>
                    <h5 class="card-amount">Stock = {{p.amount}}</h5>
                    <p class="card-text">{{p.description}}</p>
                    <a href="{% url 'main:edit_product' p.pk %}">
                        <button type="button" class="btn btn-primary">
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_product' p.pk %}">
                        <button type="button" class="btn btn-light">
                            Delete
                        </button>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>


{% endblock content %}